.section {
    height: 100vh;
}

section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.intro {
    height: 100vh;
}

#section-header {
    background-color: rgb(219, 217, 217);
}

.content-header {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#section-about {
    background-color: grey;
}

#section-resume {
    background-color: lightgrey;
}


/*-------------------------------------*/


/* Navbar */


/*-------------------------------------*/

#navbar {
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

#navbar a {
    /* Style the navbar links */
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: black;
    color: #ddd;
}


/*-------------------------------------*/


/* Scroll to top button */


/*-------------------------------------*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/*-------------------------------------*/


/* Download button */


/*-------------------------------------*/

#downloadBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

#downloadBtn:hover {
    background-color: RoyalBlue;
}